.neon-mist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Adjust padding as needed */
  background-color: #000; /* Set background color to match your design */
  position: relative;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  margin-bottom: 60px;
}
.about-top-container {
  height: 20%;
}
.ab-bottom-container {
  height: 80%;
  display: flex;
  gap: 20px; /* Adjust the gap between the left and right containers */
}

.ab-bottom-container-bottom {
  width: 50%;
}

.ab-bottom-container-top {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-photo-container {
  height: 100%;
  width: 100%;
  z-index: 100;
}

@media (max-width: 525px) {
  .ab-bottom-container {
    display: flex;
    flex-direction: column;
  }
}

/* CENTER THESE VERTIVAL */
