@import "./variables";
.bold {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 75px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: -2px;
  text-align: center;
}
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 54px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 1px;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 36px;
  line-height: 100%;
  font-weight: 700;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}
h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
}

h6 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  background: $button-gradient;
  font-size: 22px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  /* font-size: 16px; */
  line-height: 130%;
  font-weight: 500;
  text-decoration: none;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

p {
  margin-bottom: 0px;
  color: #666;
}

.paragraph._18px {
  font-size: 18px;
  line-height: 28px;
}

.paragraph._22px {
  font-size: 22px;
  line-height: 150%;
}

.paragraph._22px.medium {
  line-height: 40px;
  font-weight: 400;
}

.paragraph._18-px {
  font-size: 18px;
  line-height: 150%;
}

.text-block {
  color: #000;
}
.text-block._14px {
  line-height: 100%;
  font-weight: 400;
}
.text-block._16px {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 130%;
}
.text-block._18px {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 130%;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
}

.text-block._20-px {
  color: #5c5c5c;
  font-size: 20px;
  line-height: 36px;
}

.text-block._18px.white {
  color: #fff;
}
.button {
  position: relative;
  overflow: visible;
}

.button-up {
  position: relative;
  z-index: 1;
  padding: 20px 30px;
  background-color: #000;
  transition: transform 0.1s ease-in-out;
}

.button-behind {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  padding: 20px 30px;
  background: linear-gradient(
    to right,
    #33c9cc 0%,
    #5eaa9f 35%,
    #c05081 70%,
    #cd295a 100%
  );
  transform: translate(7px, 7px);
}
.button:hover .button-up,
.button:active .button-up,
.button.visited .button-up {
  transform: translate(7px, 7px);
}
.button-text {
  color: #fff;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  text-decoration: none;
}

/* H6 used for page headings like services blogs */

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

ol {
  margin-top: 25px;
  margin-bottom: 35px;
  padding-left: 40px;
  color: #666;
  font-size: 20px;
  line-height: 36px;
}

li {
  margin-bottom: 10px;
  color: #666;
  font-size: 20px;
  line-height: 36px;
}
.w-input,
.w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.form-field {
  width: 100%;
  margin-bottom: 0px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  background-color: #f2f6f7;
  font-size: 16px;
  line-height: 28px;
}
.form-label {
  margin-bottom: 12px;
  color: #000;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
}
.form-email {
  width: 100%;
  margin-bottom: 25px;
}
.form-first-and-last-name-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-field.email {
  padding-left: 52px;
  background-image: url(https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/mail-icon.png);
  background-position: 2% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}
.form-budget-dropdown {
  height: 56px;
  padding-left: 53px;
  border: 1px none #000;
  background-color: #f2f6f7;
  background-image: url("../images/dollarsign.png");
  background-position: 2% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 32px;
}

.form-brief {
  width: 100%;
  margin-bottom: 25px;
}
.form-email-wrapper {
  width: 100%;
}
.form-email {
  width: 100%;
  margin-bottom: 25px;
}

.form-budget-wrapper {
  width: 100%;
}
.form-budget {
  width: 99.9%;
  margin-bottom: 25px;
}
.form-button {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 20px 30px;
  background-color: #000;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: white;
}
.w-form {
  margin: 0 0 15px;
}

.wrapper {
  display: flex;
  width: 85%;
  max-width: 1215px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.white {
  color: #fff;
}

.w-inline-block {
  /* max-width: 100%; */
  display: inline-block;
}

.text-block._14px.white {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: 300;
}
textarea {
  overflow: auto;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  padding-bottom: 30px;
  flex-direction: column;
}
footer p {
  font-size: 16px;
}
footer .icon {
  margin: 0 10px; /* The first value is for the top/bottom margin, and the second is for left/right margin */
  font-size: 30px;
}
footer .bottom-icon-row {
  justify-content: center;
}
.gradient {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  background: linear-gradient(
    to right,
    #33c9cc 0%,
    #5eaa9f 35%,
    #c05081 70%,
    #cd295a 100%
  );
  font-size: 22px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 4px;
  // text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 991px) {
  h1 {
    font-size: 68px;
  }
  .wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    width: 90%;
  }
  h5 {
    font-size: 21px;
  }
  .text-block._18px {
    font-size: 16px;
  }

  .text-block._18px.white {
    font-size: 16px;
  }

  .text-block._18px.project-detail {
    font-size: 16px;
  }

  .text-block.preloader-text.left {
    font-size: 50px;
  }

  .text-block.preloader-text.right {
    font-size: 50px;
  }
}
@media (max-width: 479px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.5px;
  }

  h5 {
    font-size: 19px;
  }
  footer {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 38px;
  }
  .text-block._18px {
    font-size: 14px;
  }

  .text-block._18px.white {
    font-size: 14px;
  }

  .text-block.testimonial-name {
    font-size: 19px;
  }

  .text-block._20-px {
    font-size: 18px;
    line-height: 28px;
  }

  .text-block.preloader-text.left {
    font-size: 35px;
  }

  .text-block.preloader-text.right {
    font-size: 35px;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 375px) {
  h1 {
    font-size: 34px;
  }
}
