.wrapper.contact-wrapper {
  padding-top: 100px;
  padding-bottom: 200px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 42%;
  max-width: 475px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact-heading {
  margin-bottom: 32px;
  font-size: 56px;
  line-height: 72px;
}

.contact-right {
  width: 55%;
  max-width: 575px;
}

.contact-email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-email.footer {
  margin-top: 9px;
}
.contact-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-form-block {
  width: 100%;
}

.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.email-text {
  color: #5c5c5c;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}
.email-image-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  margin-right: 19px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.first-name,
.last-name {
  width: 48%;
}

.form-field.budget-text-area {
  padding-top: 14px;
  padding-bottom: 100px;
  padding-left: 0;
}
.form-budget-dropdown-wrapper {
  position: relative;
}
.budget-icon {
  position: absolute;
  /* left: 40px;
  bottom: 2px; */
  /* transform: translateY(-50%); */
  color: #555;
  font-size: 25px;
  position: 2% 50%;
}
@media screen and (max-width: 991px) {
  .wrapper.contact-wrapper {
    padding-bottom: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-left {
    width: 100%;
    margin-bottom: 60px;
  }
  .contact-right {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .contact-heading {
    font-size: 44px;
    line-height: 60px;
  }
  .wrapper.contact-wrapper {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  .wrapper.contact-wrapper {
    padding-top: 80px;
  }
  .contact-heading {
    font-size: 37px;
    line-height: 50px;
  }
  .form-first-and-last-name-wrapper {
    display: flex;
    flex-direction: column;
  }
  .first-name,
  .last-name {
    width: 100%;
    margin-bottom: 25px;
  }
}
