/* .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
} */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

#header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-height: fit-content;
}

/* #header-bottom {
  display: flex;
  flex-direction: column;z
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
} */
.header-title {
  font-size: 36px;
  font-weight: 500;
  color: black;
}
ul {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;

  gap: 10px;
  /* background: var(--accent); */
  /* border-radius: 5px; */
  text-decoration: none;
}

li {
  width: 80%;
  cursor: pointer;
  padding: 10px;
  transition: background 0.3s;
  font-size: 40px;
}

li:hover,
li:active {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.h-child {
  margin-left: 5px;
}

.h-right {
  display: flex;
  flex-direction: row;
}
.menu-button {
  position: sticky;
  z-index: 300;
}
.wrapper.header {
  padding-top: 40px;
  padding-bottom: 0px;
}
.nav-list {
  display: flex;
  flex-direction: row;
}
/* .h-left {
  padding-right: 250px;
} */

@media screen and (max-width: 1000px) {
  #header-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: fit-content;
    flex-direction: row;
  }
}

@media (max-width: 978px) {
  .header-title {
    font-size: 30px;
    font-weight: 600;
  }
}
